html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}
.map-container {
  height: calc(100% - 125px);
}
.search-container {
  position: absolute;
  z-index: 1000;
  top: 75px;
  right: 18px;
}
.deselect-button {
  position: absolute;
  z-index: 1000;
  top: 135px;
  right: 18px;
}
.map-button {
  width: 48px;
  height: 48px;
  font-size: 26px;
  color: gray;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}
.area-info-toggle {
  position: absolute;
  top: 5px;
  left: -4px;
  width: 100%;
  text-align: center;
}
.area-info-container {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 100%;
  background: white;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
path.leaflet-interactive:focus {
    outline: none;
}
